<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    Hello, Static
    <ul>
      <li>coding</li>
      <li>coding</li>
      <li>coding</li>
      <li>coding</li>
      <li>coding</li>
    </ul>

    <p id="name"></p>
    <p id="age"></p>

    <script type="application/javascript">
      const name = "<%= name %>";
      const age = "<%= age %>";

      document.getElementById("name").innerText = name;
      document.getElementById("age").innerText = age;
    </script>
  </body>
</html>